body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    display: none;
}

#consoleSelect {
    font-family: Helvetica;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin: auto;
    margin-bottom: 2%;
}

.cbutton {
    padding:1%;
    margin-top:0%;
    margin-bottom:3%;
    margin-right:5%;
    margin-left:5%;
    text-align:center;
    /*width: 15%*/
    display: inline;

    position:relative;
}

.cbutton:hover {
    background-color: #363636;
    border-radius: 10px;
}




.gpanel {
    display: block;
}

.gbutton {
    width: 16%;
    height: 16%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top:2%;
    margin-bottom:2%;
    float:left;

    text-align:center;
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    font-size: 20px;

    padding-bottom: 1%;
}

.gbutton:hover {
    background-color: #363636;
    border-radius: 10px;
}

img {
    width: 90%;
    height: 90%;
    margin:5%;

    border-radius:3%;
}

.opanel {
    display: inline-block;
    position: fixed;
    right: 1.5%;
    bottom: 1.0%;

    width: 10vw;
}

.obutton {
    width: 10vw;
    height: 6vh;
    margin: 3%;
    border-radius: 10px;

    text-align:center;
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    font-size: 24px;

    line-height: 6vh;
}

.obutton:hover {
    background-color: #363636;
}

hr {
    border: 1px solid #777777;
    margin-left: 3%;
    margin-right: 3%;
}

#nes {
    display:block;
}

#snes {
    display:none;
}

#n64 {
    display:none;
}

#gamecube {
    display:none;
}

#wii {
    display:none;
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

/* Add Game panel */

#apanel {
    position: fixed;
    width: 30vw;
    height: 85vh;
    border-radius: 14px;

    bottom:7.5vh;
    right:35vw;


    text-align:center;
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    

    background-color: #2b2b2b;
    display: none;
}

#dpanel {
    position: fixed;
    width: 30vw;
    height: 27vh;
    border-radius: 14px;

    bottom:36.5vh;
    right:35vw;


    text-align:center;
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    

    background-color: #2b2b2b;
    display: none;
}

#screen-cover {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

    background-color: #222222;
    opacity: 0.80;
    display: none;
}


.closebutton {
    width: 10vw;
    height: 6vh;
    margin: 3%;
    border-radius: 10px;

    text-align:center;
    font-family: Helvetica;
    color: #bbbbbb;
    font-weight: bold;
    font-size: 24px;

    line-height: 6vh;
}

.closebutton:hover {
    background-color: #323232;
    color: white;
}

label {
    font-size: 20px;
}

input[type=text], select {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;

    border: 4px solid;
    border-radius: 4px;
    border-color: white;
    
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=button] {
    /*width: 7vw;*/
    height: 5vh;

    border-radius: 10px;
    border-style: none;

    /*background-color: #252525;*/
    background-color: #2b2b2b;

    font-family: Helvetica;
    font-weight: bold;
    color: white;
    font-size: 24px;

  }

  input[type=button]:hover {
    background-color: #323232;
  }

  .v-center {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
  }